textarea{
    resize: none;
    width: inherit;
    height: inherit;
}

textarea:focus{
    outline: none !important;
}

.text{
    height: 150px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title{
    color: white;
    size: 17pt;
}